.section-servicios{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58vh;
    width: 100%;
    padding-bottom: 70px;
    background: #fafafa;
}

.div-servios-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-contenedor-servicios-img{
    display: flex;
    gap: 20px;
}

.div-descripcion-servicios{
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    max-width: 980px;
    padding: 15px;
}

.servios-div-img-contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
}